/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 20px 50px;
    background-color: rgb(209, 134, 28);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo Styling */
.logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
    color: #ffffff; 
    text-shadow: 1px 2px 2px #0a0a0a;
    text-decoration: none;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

/* Navbar Links Styling */
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    transition: all 0.3s ease; /* Smooth transition */
    justify-content: flex-end; /* Align links to the right by default */
}

/* Default Link Styling */
.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff; 
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Hover Effect for Links */
.nav-links a:hover {
    background-color: #d4a358;
    color: white;
}

/* Active Link Styling */
.nav-links .active-link {
    background-color: #ffffff;
    color: rgb(209, 134, 28);
    font-weight: bold;
    border: 2px solid #d4a358;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Logout Button Styling */
.login-button {
    background-color: rgb(91, 48, 3);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(106, 64, 5);
}

/* Hamburger Menu Styling */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger svg {
    width: 30px;
    height: 30px;
    color: white;
}

/* Responsive Styling for Smaller Screens */
@media (max-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: column; 
        align-items: flex-end; 
        width: 100%;
    }

    .nav-links a {
        font-size: 16px;
        padding: 5px 10px;
    }

    .login-button {
        font-size: 14px;
        padding: 5px 10px;
    }
}
